#quad_slider{
    width: 815px;
    height: 515px;
    position: relative;
    left: 50%;
    margin-left: -410px;
    background-color: #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#tl_slider{
    border: solid 5px #000;
    border-right: solid 2.5px #000;
    border-bottom: solid 2.5px #000;
    border-top-left-radius: 15px;
}
#tr_slider{
    border: solid 5px #000;
    border-left: solid 2.5px #000;
    border-bottom: solid 2.5px #000;
    border-top-right-radius: 15px;
}
#bl_slider{
    border: solid 5px #000;
    border-right: solid 2.5px #000;
    border-top: solid 2.5px #000;
    border-bottom-left-radius: 15px;
}
#br_slider{
    border: solid 5px #000;
    border-left: solid 2.5px #000;
    border-top: solid 2.5px #000;
    border-bottom-right-radius: 15px;
}
#quad_slider > div:nth-child(odd){
    float: left;
}
#quad_slider > div:nth-child(even){
    float: right;
}
#quad_slider > div{
    position:relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
}
#quad_slider > div > img {
    position: relative;
    width: 400px;
    height: 250px;
}